<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Page</title>
  </head>
  <body>
    <h1>Update Page</h1>
    <form action="/restapp/{{ music.pk }}/update/" method="POST">
      {% csrf_token %}
      <input
        type="text"
        name="title"
        placeholder="title"
        value="{{ music.title }}"
      />
      <input
        type="text"
        name="singer"
        placeholder="singer"
        value="{{ music.singer }}"
      />
      <input
        type="text"
        name="genre"
        placeholder="genre"
        value="{{ music.genre }}"
      />
      <input
        type="text"
        name="released_at"
        placeholder="released_at"
        value="{{ music.released_at }}"
      />
      <input type="submit" value="새로 제출하기" />
    </form>
  </body>
</html>
